[Unit]
Description=FastAPI TempoFTP Service (Standalone)
After=network.target

[Service]
User=lanotadm
Group=lanotadm
WorkingDirectory=/opt/tempoftp
Environment="PATH=/opt/tempoftp/venv/bin"
EnvironmentFile=/opt/tempoftp/.env
# Reemplaza 172.16.X.X por la IP real obtenida con 'ip addr' (ej. 172.16.10.5)
ExecStart=/opt/tempoftp/venv/bin/uvicorn main:app --workers 4 --host 172.16.X.X --port 9043
Restart=always

[Install]
WantedBy=multi-user.target
